In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.33-py2.py3-none-any.whl.metadata (11 kB)
Collecting pandas>=1.3.0 (from yfinance)
  Downloading pandas-2.1.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting numpy>=1.16.5 (from yfinance)
  Downloading numpy-1.26.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.2/61.2 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.31 in ./venv/lib/python3.11/site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting lxml>=4.9.1 (from yfinance)
  Downloading lxml-4.9.3-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Collecting appdirs>=1.4.4 (from yfinance)
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting pytz>=2022.5 (from yfinance)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.3.10-py3-none-any.whl.metadata (20 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 46.2 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.11.1 in ./venv/lib/python3.11/site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 4.9 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in ./venv/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in ./venv/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in ./venv/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Collecting tzdata>=2022.1 (from pandas>=1.3.0->yfinance)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 16.0 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in ./venv/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./venv/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./venv/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in ./venv/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.11.17)
Downloading yfinance-0.2.33-py2.py3-none-any.whl (69 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.0/69.0 kB 3.1 MB/s eta 0:00:00
Downloading frozendict-2.3.10-py3-none-any.whl (14 kB)
Downloading lxml-4.9.3-cp311-cp311-manylinux_2_28_x86_64.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 116.9 MB/s eta 0:00:00a 0:00:01
Downloading numpy-1.26.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 110.2 MB/s eta 0:00:0000:0100:01
Downloading pandas-2.1.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 127.7 MB/s eta 0:00:0000:010:01
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 20.6 MB/s eta 0:00:00
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.0-py3-none-any.whl size=135721 sha256=2074047505110b293625d33ae8d8c1d239c954b06aba9f15d8f4ec584b76a0ac
  Stored in directory: /home/taylor/.cache/pip/wheels/02/20/23/74a10d0cd31f5d41c19b92ddf4c138ceff01b9f4675f19dbf5
Successfully built peewee
Installing collected packages: pytz, peewee, multitasking, appdirs, tzdata, numpy, lxml, html5lib, frozendict, pandas, yfinance
Successfully installed appdirs-1.4.4 frozendict-2.3.10 html5lib-1.1 lxml-4.9.3 multitasking-0.0.11 numpy-1.26.2 pandas-2.1.4 peewee-3.17.0 pytz-2023.3.post1 tzdata-2023.3 yfinance-0.2.33
Note: you may need to restart the kernel to use updated packages.

In [5]:
import yfinance as yf
import pandas as pd

In [6]:
start = "2014-10-01"
end = "2021-05-31"

In [7]:
symbol = "BA"

In [8]:
yf.download(symbol, start, end)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-10-01,127.370003,127.370003,124.309998,124.669998,108.406677,5265200
2014-10-02,124.400002,125.550003,123.839996,124.169998,107.971893,3204500
2014-10-03,124.660004,126.870003,124.660004,126.360001,109.876213,3075900
2014-10-06,127.089996,127.190002,125.379997,126.260002,109.789268,2681000
2014-10-07,125.519997,125.519997,123.290001,123.320000,107.232780,3554900
...,...,...,...,...,...,...
2021-05-24,235.139999,238.500000,232.600006,237.440002,237.440002,10106000
2021-05-25,240.000000,243.779999,239.229996,240.740005,240.740005,12908000
2021-05-26,241.699997,242.490005,239.869995,241.369995,241.369995,7240200
2021-05-27,248.110001,252.600006,247.190002,250.699997,250.699997,18404400
2021-05-28,247.479996,248.979996,245.369995,247.020004,247.020004,11197400

In [9]:
df = yf.download(symbol, start, end)
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-10-01,127.370003,127.370003,124.309998,124.669998,108.406677,5265200
2014-10-02,124.400002,125.550003,123.839996,124.169998,107.971893,3204500
2014-10-03,124.660004,126.870003,124.660004,126.360001,109.876213,3075900
2014-10-06,127.089996,127.190002,125.379997,126.260002,109.789268,2681000
2014-10-07,125.519997,125.519997,123.290001,123.320000,107.232780,3554900
...,...,...,...,...,...,...
2021-05-24,235.139999,238.500000,232.600006,237.440002,237.440002,10106000
2021-05-25,240.000000,243.779999,239.229996,240.740005,240.740005,12908000
2021-05-26,241.699997,242.490005,239.869995,241.369995,241.369995,7240200
2021-05-27,248.110001,252.600006,247.190002,250.699997,250.699997,18404400
2021-05-28,247.479996,248.979996,245.369995,247.020004,247.020004,11197400

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1677 entries, 2014-10-01 to 2021-05-28
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1677 non-null   float64
 1   High       1677 non-null   float64
 2   Low        1677 non-null   float64
 3   Close      1677 non-null   float64
 4   Adj Close  1677 non-null   float64
 5   Volume     1677 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 91.7 KB

In [12]:
symbol = ["BA", "MSFT", "^DJI", "EURUSD=X", "GC=F", "BTC-USD"]

In [13]:
df = yf.download(symbol, start, end)
df

[*********************100%%**********************]  6 of 6 completed

             Adj Close                                                   \
                    BA       BTC-USD  EURUSD=X         GC=F        MSFT
Date
2014-10-01  108.406677    383.614990  1.262834  1214.599976   39.459862
2014-10-02  107.971893    375.071991  1.262419  1214.199951   39.339493
2014-10-03  109.876213    359.511993  1.267058  1192.199951   39.623203
2014-10-04         NaN    328.865997       NaN          NaN         NaN
2014-10-05         NaN    320.510010       NaN          NaN         NaN
...                ...           ...       ...          ...         ...
2021-05-26  241.369995  39294.199219  1.224909  1901.300049  246.043533
2021-05-27  250.699997  38436.968750  1.219260  1895.699951  243.910721
2021-05-28  247.020004  35697.605469  1.219319  1902.500000  244.272736
2021-05-29         NaN  34616.066406       NaN          NaN         NaN
2021-05-30         NaN  35678.128906       NaN          NaN         NaN

                               Close                                       \
                    ^DJI          BA       BTC-USD  EURUSD=X         GC=F
Date
2014-10-01  16804.710938  124.669998    383.614990  1.262834  1214.599976
2014-10-02  16801.050781  124.169998    375.071991  1.262419  1214.199951
2014-10-03  17009.689453  126.360001    359.511993  1.267058  1192.199951
2014-10-04           NaN         NaN    328.865997       NaN          NaN
2014-10-05           NaN         NaN    320.510010       NaN          NaN
...                  ...         ...           ...       ...          ...
2021-05-26  34323.050781  241.369995  39294.199219  1.224909  1901.300049
2021-05-27  34464.640625  250.699997  38436.968750  1.219260  1895.699951
2021-05-28  34529.449219  247.020004  35697.605469  1.219319  1902.500000
2021-05-29           NaN         NaN  34616.066406       NaN          NaN
2021-05-30           NaN         NaN  35678.128906       NaN          NaN

            ...      Open                                             Volume  \
            ...  EURUSD=X         GC=F        MSFT          ^DJI          BA
Date        ...
2014-10-01  ...  1.262913  1207.699951   46.270000  17040.460938   5265200.0
2014-10-02  ...  1.262499  1215.300049   45.830002  16808.269531   3204500.0
2014-10-03  ...  1.266994  1212.400024   45.980000  16802.199219   3075900.0
2014-10-04  ...       NaN          NaN         NaN           NaN         NaN
2014-10-05  ...       NaN          NaN         NaN           NaN         NaN
...         ...       ...          ...         ...           ...         ...
2021-05-26  ...  1.224890  1901.300049  251.429993  34336.339844   7240200.0
2021-05-27  ...  1.219036  1896.800049  251.169998  34432.468750  18404400.0
2021-05-28  ...  1.219274  1897.500000  251.000000  34558.500000  11197400.0
2021-05-29  ...       NaN          NaN         NaN           NaN         NaN
2021-05-30  ...       NaN          NaN         NaN           NaN         NaN


                BTC-USD EURUSD=X      GC=F        MSFT         ^DJI
Date
2014-10-01     26229400      0.0     178.0  38088400.0  104240000.0
2014-10-02     21777700      0.0     176.0  25119400.0   75490000.0
2014-10-03     30901200      0.0     499.0  32453200.0   87940000.0
2014-10-04     47236500      NaN       NaN         NaN          NaN
2014-10-05     83308096      NaN       NaN         NaN          NaN
...                 ...      ...       ...         ...          ...
2021-05-26  51346735160      0.0  170526.0  17771600.0  258780000.0
2021-05-27  43210968721      0.0   35794.0  24426200.0  520630000.0
2021-05-28  55200191952      0.0    2415.0  18270200.0  290850000.0
2021-05-29  45231013335      NaN       NaN         NaN          NaN
2021-05-30  31646080921      NaN       NaN         NaN          NaN

[2434 rows x 36 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2434 entries, 2014-10-01 to 2021-05-30
Freq: D
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Adj Close, BA)        1677 non-null   float64
 1   (Adj Close, BTC-USD)   2434 non-null   float64
 2   (Adj Close, EURUSD=X)  1735 non-null   float64
 3   (Adj Close, GC=F)      1674 non-null   float64
 4   (Adj Close, MSFT)      1677 non-null   float64
 5   (Adj Close, ^DJI)      1677 non-null   float64
 6   (Close, BA)            1677 non-null   float64
 7   (Close, BTC-USD)       2434 non-null   float64
 8   (Close, EURUSD=X)      1735 non-null   float64
 9   (Close, GC=F)          1674 non-null   float64
 10  (Close, MSFT)          1677 non-null   float64
 11  (Close, ^DJI)          1677 non-null   float64
 12  (High, BA)             1677 non-null   float64
 13  (High, BTC-USD)        2434 non-null   float64
 14  (High, EURUSD=X)       1735 non-null   float64
 15  (High, GC=F)           1674 non-null   float64
 16  (High, MSFT)           1677 non-null   float64
 17  (High, ^DJI)           1677 non-null   float64
 18  (Low, BA)              1677 non-null   float64
 19  (Low, BTC-USD)         2434 non-null   float64
 20  (Low, EURUSD=X)        1735 non-null   float64
 21  (Low, GC=F)            1674 non-null   float64
 22  (Low, MSFT)            1677 non-null   float64
 23  (Low, ^DJI)            1677 non-null   float64
 24  (Open, BA)             1677 non-null   float64
 25  (Open, BTC-USD)        2434 non-null   float64
 26  (Open, EURUSD=X)       1735 non-null   float64
 27  (Open, GC=F)           1674 non-null   float64
 28  (Open, MSFT)           1677 non-null   float64
 29  (Open, ^DJI)           1677 non-null   float64
 30  (Volume, BA)           1677 non-null   float64
 31  (Volume, BTC-USD)      2434 non-null   int64
 32  (Volume, EURUSD=X)     1735 non-null   float64
 33  (Volume, GC=F)         1674 non-null   float64
 34  (Volume, MSFT)         1677 non-null   float64
 35  (Volume, ^DJI)         1677 non-null   float64
dtypes: float64(35), int64(1)
memory usage: 703.6 KB

In [15]:
df.to_csv("multi_assets.csv")