In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.float_format', '{:.4f}'.format)
sns.set_style('whitegrid')

In [2]:
msft = pd.read_csv('msft.csv', index_col='Date', parse_dates=['Date'])
msft

              Price  Returns
Date
2014-10-01  45.9000      NaN
2014-10-02  45.7600  -0.0031
2014-10-03  46.0900   0.0072
2014-10-06  46.0900   0.0000
2014-10-07  45.5300  -0.0122
...             ...      ...
2021-05-24 250.7800   0.0229
2021-05-25 251.7200   0.0037
2021-05-26 251.4900  -0.0009
2021-05-27 249.3100  -0.0087
2021-05-28 249.6800   0.0015

[1677 rows x 2 columns]

Investment Multiple: Ending Value of 1 [Dollar] invested.
Multiple = Ending Value / Initial Investment

In [3]:
multiple = (msft.Price[-1] / msft.Price[0])
multiple

/tmp/ipykernel_67704/89669947.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  multiple = (msft.Price[-1] / msft.Price[0])

5.43965107571966

In [4]:
(multiple - 1) * 100

443.96510757196603

In [5]:
msft.Price / msft.Price[0] # similar / identical concept: Normalized Price with Base Value 1

/tmp/ipykernel_67704/3543245091.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  msft.Price / msft.Price[0] # similar / identical concept: Normalized Price with Base Value 1

Date
2014-10-01   1.0000
2014-10-02   0.9969
2014-10-03   1.0041
2014-10-06   1.0041
2014-10-07   0.9919
              ...
2021-05-24   5.4636
2021-05-25   5.4841
2021-05-26   5.4791
2021-05-27   5.4316
2021-05-28   5.4397
Name: Price, Length: 1677, dtype: float64

Drawback of Investment Multiple: Doesn't take into account investment Period. Meaningful only in conjunction with Investment Period.


Compound Annual Growth Rate (CAGR): The (constant annual) rate of return that would be required for an investment to grow from its initial to its ending value, assuming the profits were reinvested at the end of each year of the investment's lifespan.

In [6]:
start = msft.index[0]
start

Timestamp('2014-10-01 00:00:00')

In [7]:
end = msft.index[-1]
end

Timestamp('2021-05-28 00:00:00')

In [8]:
td = end - start
td

Timedelta('2431 days 00:00:00')

In [9]:
td_years = td.days / 365.25
td_years

6.655715263518139

In [10]:
cagr = (multiple ** (1 / td_years)) - 1 # short version
cagr

0.2897846506194157

In [11]:
cagr = (msft.Price[-1] / msft.Price[0]) ** (1/((msft.index[-1] - msft.index[0]).days / 365.25)) - 1 # long version
cagr

/tmp/ipykernel_67704/2407924070.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cagr = (msft.Price[-1] / msft.Price[0]) ** (1/((msft.index[-1] - msft.index[0]).days / 365.25)) - 1 # long version

0.2897846506194157

In [12]:
(1 + cagr) ** (td_years) # alternative way to calculate multiple (cagr)

5.439651075719659

-> CAGR can be used to compare investments with different investment horizons.

## Compound Returns & Geometric Mean Return

In [13]:
msft

              Price  Returns
Date
2014-10-01  45.9000      NaN
2014-10-02  45.7600  -0.0031
2014-10-03  46.0900   0.0072
2014-10-06  46.0900   0.0000
2014-10-07  45.5300  -0.0122
...             ...      ...
2021-05-24 250.7800   0.0229
2021-05-25 251.7200   0.0037
2021-05-26 251.4900  -0.0009
2021-05-27 249.3100  -0.0087
2021-05-28 249.6800   0.0015

[1677 rows x 2 columns]

In [14]:
multiple = (1 + msft.Returns).prod() # alternative #3 to calculate multiple (compounding daily returns)
multiple

5.4396510757198575

In [15]:
n = msft.Returns.count()
n

1676

In [16]:
geo_mean = multiple**(1/n) -1 # Geometric Mean Return (daily)
geo_mean

0.0010110805580043625

In [17]:
(1 + geo_mean)**n # alternative #4 to calculate multiple (geometric mean)

5.439651075720363

-> Compound returns, CAGR & geometric mean return are closely related concepts.

In [18]:
mu = msft.Returns.mean() # arithmetic mean return
mu

0.001159781798206695

 The arithmetic mean return is always greater than the geometric mean return... and less useful.

In [19]:
(1 + mu)**n # calculate multiple? not possible with arithmetic mean!

6.977341539401793