In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6f}'.format

In [2]:
msft = pd.read_csv('msft.csv', index_col=0, parse_dates=['Date'])
msft

                Price   Returns
Date
2014-10-01  45.900002       NaN
2014-10-02  45.759998 -0.003050
2014-10-03  46.090000  0.007212
2014-10-06  46.090000  0.000000
2014-10-07  45.529999 -0.012150
...               ...       ...
2021-05-24 250.779999  0.022882
2021-05-25 251.720001  0.003748
2021-05-26 251.490005 -0.000914
2021-05-27 249.309998 -0.008668
2021-05-28 249.679993  0.001484

[1677 rows x 2 columns]

In [3]:
msft["log_ret"] = np.log(msft.Price / msft.Price.shift()) # daily log returns

In [4]:
msft

                Price   Returns   log_ret
Date
2014-10-01  45.900002       NaN       NaN
2014-10-02  45.759998 -0.003050 -0.003055
2014-10-03  46.090000  0.007212  0.007186
2014-10-06  46.090000  0.000000  0.000000
2014-10-07  45.529999 -0.012150 -0.012225
...               ...       ...       ...
2021-05-24 250.779999  0.022882  0.022624
2021-05-25 251.720001  0.003748  0.003741
2021-05-26 251.490005 -0.000914 -0.000914
2021-05-27 249.309998 -0.008668 -0.008706
2021-05-28 249.679993  0.001484  0.001483

[1677 rows x 3 columns]

In [5]:
msft.describe()

            Price     Returns     log_ret
count 1677.000000 1676.000000 1676.000000
mean   106.314377    0.001160    0.001011
std     60.772246    0.017256    0.017249
min     40.290001   -0.147390   -0.159453
25%     54.830002   -0.006177   -0.006196
50%     89.709999    0.000918    0.000918
75%    138.899994    0.009110    0.009069
max    261.970001    0.142169    0.132929

In [7]:
mu = msft.log_ret.mean() # mean Log return -> Reward 
mu

0.001010569760332965

In [9]:
sigma = msft.log_ret.std() # standard deviation of log returns -> Risk/Volatility 
sigma

0.01724882682847897