# Price Changes and Financial Returns
### More meaningful/useful than Prices: Prices changes

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:.4f}'.format
sns.set_style('whitegrid')

In [3]:
close = pd.read_csv("close.csv", index_col = "Date", parse_dates = ["Date"])
close

                 BA    BTC-USD  EURUSD=X      GC=F     MSFT       ^DJI
Date
2014-10-01 124.6700   383.6150    1.2628 1214.6000  45.9000 16804.7109
2014-10-02 124.1700   375.0720    1.2624 1214.2000  45.7600 16801.0508
2014-10-03 126.3600   359.5120    1.2671 1192.2000  46.0900 17009.6895
2014-10-04      NaN   328.8660       NaN       NaN      NaN        NaN
2014-10-05      NaN   320.5100       NaN       NaN      NaN        NaN
...             ...        ...       ...       ...      ...        ...
2021-05-26 241.3700 39294.1992    1.2249 1901.3000 251.4900 34323.0508
2021-05-27 250.7000 38436.9688    1.2193 1895.7000 249.3100 34464.6406
2021-05-28 247.0200 35697.6055    1.2193 1902.5000 249.6800 34529.4492
2021-05-29      NaN 34616.0664       NaN       NaN      NaN        NaN
2021-05-30      NaN 35678.1289       NaN       NaN      NaN        NaN

[2434 rows x 6 columns]

In [4]:
msft = close.MSFT.dropna().to_frame().copy()

In [5]:
msft

               MSFT
Date
2014-10-01  45.9000
2014-10-02  45.7600
2014-10-03  46.0900
2014-10-06  46.0900
2014-10-07  45.5300
...             ...
2021-05-24 250.7800
2021-05-25 251.7200
2021-05-26 251.4900
2021-05-27 249.3100
2021-05-28 249.6800

[1677 rows x 1 columns]

In [6]:
msft.rename(columns = {"MSFT": "Price"}, inplace = True)

In [7]:
msft

              Price
Date
2014-10-01  45.9000
2014-10-02  45.7600
2014-10-03  46.0900
2014-10-06  46.0900
2014-10-07  45.5300
...             ...
2021-05-24 250.7800
2021-05-25 251.7200
2021-05-26 251.4900
2021-05-27 249.3100
2021-05-28 249.6800

[1677 rows x 1 columns]

In [8]:
msft.shift(periods = 1)

              Price
Date
2014-10-01      NaN
2014-10-02  45.9000
2014-10-03  45.7600
2014-10-06  46.0900
2014-10-07  46.0900
...             ...
2021-05-24 245.1700
2021-05-25 250.7800
2021-05-26 251.7200
2021-05-27 251.4900
2021-05-28 249.3100

[1677 rows x 1 columns]

In [9]:
msft["P_lag1"] = msft.Price.shift(periods = 1)
msft

              Price   P_lag1
Date
2014-10-01  45.9000      NaN
2014-10-02  45.7600  45.9000
2014-10-03  46.0900  45.7600
2014-10-06  46.0900  46.0900
2014-10-07  45.5300  46.0900
...             ...      ...
2021-05-24 250.7800 245.1700
2021-05-25 251.7200 250.7800
2021-05-26 251.4900 251.7200
2021-05-27 249.3100 251.4900
2021-05-28 249.6800 249.3100

[1677 rows x 2 columns]

In [10]:
msft["P_diff"] = msft.Price.sub(msft.P_lag1) # Alternative: msft.Price - msft.P_lag1

In [11]:
msft

              Price   P_lag1  P_diff
Date
2014-10-01  45.9000      NaN     NaN
2014-10-02  45.7600  45.9000 -0.1400
2014-10-03  46.0900  45.7600  0.3300
2014-10-06  46.0900  46.0900  0.0000
2014-10-07  45.5300  46.0900 -0.5600
...             ...      ...     ...
2021-05-24 250.7800 245.1700  5.6100
2021-05-25 251.7200 250.7800  0.9400
2021-05-26 251.4900 251.7200 -0.2300
2021-05-27 249.3100 251.4900 -2.1800
2021-05-28 249.6800 249.3100  0.3700

[1677 rows x 3 columns]

In [12]:
msft["P_diff2"] = msft.Price.diff(periods = 1) # Alternative 2

In [13]:
msft

              Price   P_lag1  P_diff  P_diff2
Date
2014-10-01  45.9000      NaN     NaN      NaN
2014-10-02  45.7600  45.9000 -0.1400  -0.1400
2014-10-03  46.0900  45.7600  0.3300   0.3300
2014-10-06  46.0900  46.0900  0.0000   0.0000
2014-10-07  45.5300  46.0900 -0.5600  -0.5600
...             ...      ...     ...      ...
2021-05-24 250.7800 245.1700  5.6100   5.6100
2021-05-25 251.7200 250.7800  0.9400   0.9400
2021-05-26 251.4900 251.7200 -0.2300  -0.2300
2021-05-27 249.3100 251.4900 -2.1800  -2.1800
2021-05-28 249.6800 249.3100  0.3700   0.3700

[1677 rows x 4 columns]

In [14]:
msft.P_diff.equals(msft.P_diff2)

True

-> Absolute Price Changes are not meaningful

### Relative/Percentage Price Changes (Returns)

In [15]:
msft.Price.div(msft.P_lag1) - 1 # Alternative: msft.Price / msft.P_lag1 - 1

Date
2014-10-01       NaN
2014-10-02   -0.0031
2014-10-03    0.0072
2014-10-06    0.0000
2014-10-07   -0.0122
               ...
2021-05-24    0.0229
2021-05-25    0.0037
2021-05-26   -0.0009
2021-05-27   -0.0087
2021-05-28    0.0015
Length: 1677, dtype: float64

In [18]:
msft["Returns"] = msft.Price.pct_change(periods = 1) # Alternative 2
msft

              Price   P_lag1  P_diff  P_diff2  Return  Returns|  Returns
Date
2014-10-01  45.9000      NaN     NaN      NaN     NaN       NaN      NaN
2014-10-02  45.7600  45.9000 -0.1400  -0.1400 -0.0031   -0.0031  -0.0031
2014-10-03  46.0900  45.7600  0.3300   0.3300  0.0072    0.0072   0.0072
2014-10-06  46.0900  46.0900  0.0000   0.0000  0.0000    0.0000   0.0000
2014-10-07  45.5300  46.0900 -0.5600  -0.5600 -0.0122   -0.0122  -0.0122
...             ...      ...     ...      ...     ...       ...      ...
2021-05-24 250.7800 245.1700  5.6100   5.6100  0.0229    0.0229   0.0229
2021-05-25 251.7200 250.7800  0.9400   0.9400  0.0037    0.0037   0.0037
2021-05-26 251.4900 251.7200 -0.2300  -0.2300 -0.0009   -0.0009  -0.0009
2021-05-27 249.3100 251.4900 -2.1800  -2.1800 -0.0087   -0.0087  -0.0087
2021-05-28 249.6800 249.3100  0.3700   0.3700  0.0015    0.0015   0.0015

[1677 rows x 7 columns]

In [23]:
msft.drop(columns = ["P_lag1", "P_diff", "P_diff2"], inplace = True)

In [24]:
msft

              Price  Returns
Date
2014-10-01  45.9000      NaN
2014-10-02  45.7600  -0.0031
2014-10-03  46.0900   0.0072
2014-10-06  46.0900   0.0000
2014-10-07  45.5300  -0.0122
...             ...      ...
2021-05-24 250.7800   0.0229
2021-05-25 251.7200   0.0037
2021-05-26 251.4900  -0.0009
2021-05-27 249.3100  -0.0087
2021-05-28 249.6800   0.0015

[1677 rows x 2 columns]

In [25]:
msft.to_csv("msft.csv")