In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.6f}'.format

In [2]:
msft = pd.read_csv('msft.csv', index_col="Date", parse_dates=["Date"])
msft["log_ret"] = np.log(msft.Price / msft.Price.shift())
msft

                Price   Returns   log_ret
Date
2014-10-01  45.900002       NaN       NaN
2014-10-02  45.759998 -0.003050 -0.003055
2014-10-03  46.090000  0.007212  0.007186
2014-10-06  46.090000  0.000000  0.000000
2014-10-07  45.529999 -0.012150 -0.012225
...               ...       ...       ...
2021-05-24 250.779999  0.022882  0.022624
2021-05-25 251.720001  0.003748  0.003741
2021-05-26 251.490005 -0.000914 -0.000914
2021-05-27 249.309998 -0.008668 -0.008706
2021-05-28 249.679993  0.001484  0.001483

[1677 rows x 3 columns]

#### Investment Multiple

In [3]:
msft.Returns.add(1).prod() # compounding simple returns ("compound returns")

5.4396510757198575

In [4]:
np.exp(msft.log_ret.sum()) # adding log returns ("cumulative returns")

5.4396510757196435

### Normal Price with Base 1

In [6]:
msft.Returns.add(1).cumprod() # compounding simple returns ("compound returns")

Date
2014-10-01        NaN
2014-10-02   0.996950
2014-10-03   1.004139
2014-10-06   1.004139
2014-10-07   0.991939
               ...
2021-05-24   5.463616
2021-05-25   5.484096
2021-05-26   5.479085
2021-05-27   5.431590
2021-05-28   5.439651
Name: Returns, Length: 1677, dtype: float64